@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body,
    #root {
        height: 100%;
    }

    body {
        background-color: #F9FAFB;
        color: #1F2937;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.625;
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: -0.01em;
    }
}

@layer components {
    .container-center {
        max-width: 80rem;
        /* 7xl */
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (min-width: 640px) {
        .container-center {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    @media (min-width: 1024px) {
        .container-center {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .card {
        background-color: #ffffff;
        border-radius: 0.75rem;
        /* rounded-xl */
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        padding: 1rem;
    }

    .card-md {
        background-color: #ffffff;
        border-radius: 1rem;
        /* rounded-2xl */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
        padding: 1.5rem;
    }

    

    .form-input:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.12);
        /* indigo-500 ring */
        border-color: #6366F1;
        /* indigo-500 */
        background-color: #ffffff;
    }
}

@layer utilities {
    .gap-x-6 {
        gap: 1.5rem;
    }
}

:root {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}